section{
   padding: 30px 0;
}

img{
   width: 100%;
   border-radius: 20px;
}

.bg-darkblue{
   background-color: #2C3E50;
}

.bg-aquagreen{
   background-color: #1ABC9C;
}

#avatar{
   height: 250px;
   width: 250px;
}

.line{
   display: inline-block;
   height: 5px;
   border-radius: 5px;
   width: 100px;
}

.line-light{
   background-color: white;
}

.star-light{
   color: white;
}

.line-dark{
   background-color: #2C3E50; 
}

.star-dark{
   color: #2C3E50;
}

#send-button{
   background-color: #1ABC9C;
}